SHELL=/bin/bash
PATH=/root/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PYTHONPATH=/root

# Do not put date format percent-signs in this file. Cron turns an unescaped
# percent-sign into a newline and sends the rest of the line to stdin.

# Binance OHLCV hourly at HH:05, then id13 on even UTC hours (see wrapper).
5 * * * * flock -n /tmp/binance_ohlcv_1h.lock bash /root/deployments/scripts/run_hourly_ohlcv_and_id13.sh >> /var/log/deployments/hourly_ohlcv_id13.log 2>&1

# Binance OHLCV daily at 00:05, then id8, id9, id10, id11, id12
5 0 * * * flock -n /tmp/binance_ohlcv_1d_id8_id9.lock -c 'cd /root && python -m deployments.scrappers.binance_ohlcv --interval 1d >> /var/log/deployments/binance_ohlcv_1d.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id8 >> /var/log/deployments/strategy_id8.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id9 >> /var/log/deployments/strategy_id9.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id10 >> /var/log/deployments/strategy_id10.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id11 >> /var/log/deployments/strategy_id11.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id12 >> /var/log/deployments/strategy_id12.log 2>&1'

# Coinglass daily at 04:00, then id4, id5, id6
0 4 * * * flock -n /tmp/coinglass_id456.lock -c 'cd /root && python -m deployments.scrappers.coinglass >> /var/log/deployments/coinglass.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id4 >> /var/log/deployments/strategy_id4.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id5 >> /var/log/deployments/strategy_id5.log 2>&1 && bash /root/deployments/scripts/run_strategy.sh id6 >> /var/log/deployments/strategy_id6.log 2>&1'

# Bgeometrics daily at 10:00, then id2, id3, id7
0 10 * * * flock -n /tmp/bgeometrics_id237.lock bash /root/deployments/scripts/run_daily_bgeometrics_id237.sh >> /var/log/deployments/bgeometrics_id237.log 2>&1

# Equity yfinance after US cash close (21:15 UTC is 16:15 ET / 17:15 EDT), then id14-id20
15 21 * * 1-5 flock -n /tmp/equity_yfinance_id14_20.lock bash /root/deployments/scripts/run_daily_spy_portfolio.sh >> /var/log/deployments/equity_yfinance_id14_20.log 2>&1

# Mulvaney/Concretum Yahoo proxies after CME 17:00 CT (23:00 UTC covers CST and CDT), then id21-id22
0 23 * * 1-5 flock -n /tmp/mulvaney_yfinance_id21_22.lock bash /root/deployments/scripts/run_daily_mulvaney_cta.sh >> /var/log/deployments/mulvaney_yfinance_id21_22.log 2>&1

# G7 Yahoo FX overnight squeeze (id23-id29): enter near UTC day close, flatten at next open.
50 23 * * 1-5 flock -n /tmp/g7_vc_yf_close.lock bash /root/deployments/scripts/run_daily_g7_vol_compression.sh close >> /var/log/deployments/g7_vol_compression_close.log 2>&1
20 0 * * 1-5 flock -n /tmp/g7_vc_yf_open.lock bash /root/deployments/scripts/run_daily_g7_vol_compression.sh open >> /var/log/deployments/g7_vol_compression_open.log 2>&1
